build/
packages/
bin/packages
test/packages
pubspec.lock
.buildlog
.project
.pub/
.DS_Store
*.dart.js
*.js_
*.js.deps
*.js.map

diff*
sdk-*

# Files and directories created by pub
.dart_tool/
.packages

# Directory created by dartdoc
doc/api/

# Mac related files
**/.DS_Store

# IDEA related files
.idea
